/* Font */

@font-face {
  font-family: Poppins;
  src: local(Poppins), url(../poppins-v20-latin-regular.woff2); /* Loads local font if exists, otherwise downloads it */
}

/* Variables */

:root {
  /* Colors */
  --primary: rgb(3, 145, 211);
  --white: rgb(250, 250, 250);
  --black: rgb(51, 51, 51);
  --gray: rgb(88, 88, 88);
  /* Spacing */
  --spacing-base: 15px;
  --spacing-sm: var(--spacing-base);
  --spacing-md: calc(var(--spacing-base) * 2);
  --spacing-lg: calc(var(--spacing-base) * 3);
  /* Typography */
  --divider: 1.25;
  --heading-lg: 1.75rem;
  --heading-md: calc(var(--heading-lg) / var(--divider));
  --heading-sm: calc(var(--heading-md) / var(--divider));
  /* Miscellaneous */
  --shadow: 3px 3px 47px 0 rgba(71, 71, 71, 0.15);
  --transition-duration: 0.3s;
}

/* Base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--primary);
  color: var(--white);
}

body {
  font-family: Poppins, sans-serif;

  padding: var(--spacing-md);
  max-width: 1000px; /* max ~80 characters wide */
  line-height: 1.75;
  color: var(--black);
  background-color: var(--white);

  box-shadow: var(--shadow);
}

section {
  margin-block-end: calc(var(--spacing-lg) * 2);
}

article {
  margin-bottom: 100px;
}

ul {
  list-style-type: "-";
  padding-inline-start: var(--spacing-sm);
}

li::marker {
  color: var(--gray);
}

li {
  padding-inline-start: var(--spacing-sm);
  padding-block-end: calc(var(--spacing-sm) / 2);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.3;
}

h1 {
  font-size: var(--heading-lg);
  margin-block-end: var(--spacing-sm);
}

h2 {
  font-size: var(--heading-md);
}

h3 {
  font-size: var(--heading-sm);
}

small {
  display: block;
  font-size: 0.5rem;
}

p,
small,
li,
#hero h2 {
  color: var(--gray);
}

.heading-label {
  font-size: var(--heading-sm);
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Links */

a:not(.btn) {
  color: var(--primary);
  text-decoration-color: transparent;
  transition: var(--transition-duration);
}

a:not(.btn):hover {
  text-decoration-color: var(--primary);
}

.btn {
  --inset: 300px;
  --border-color: transparent;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: 13px;
  width: fit-content;
  user-select: none;
  border: 1px solid var(--border-color);
  box-shadow: inset var(--inset) 0 var(--primary) /* Gives background color */;
  color: var(--white);
  padding: var(--spacing-sm) var(--spacing-md);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  transition: calc(var(--transition-duration) * 2);
}

.btn:hover {
  --inset: 0; /* Removes background color on hover */
  --border-color: var(--primary);
  color: var(--primary);
}

.btn svg {
  fill: var(--white);
  transition: var(--transition-duration);
}

.btn:hover svg {
  fill: var(--primary);
}

/* Images */

img,
a {
  border-radius: var(--spacing-sm);
}

img {
  max-width: 100%; /* Prevents horizontal overflow */
  height: auto; /* Enables responsiveness */
}

img[alt="Link to Microbe Research video"] {
  width: 100%;
  box-shadow: var(--shadow);
}

/* Utilities */

.flex {
  --gap: var(--spacing-md);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.flex.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Sections */

#hero > * {
  --delay: 0;
  translate: 0 -100px; /* Animation starting point */
  opacity: 0; /* Animation starting point */
  animation: fade-in calc(var(--transition-duration) * 3)
    calc(var(--delay) * 0.1s) forwards;
}

#hero a#link-to-video {
  --delay: 1;
  width: 100%;
}

#hero a.btn {
  --delay: 2;
}

#hero,
#recap,
#footer {
  --gap: var(--spacing-lg);
}

#recap h3 {
  color: var(--gray);
}

/* Footer */

footer {
  margin-block-start: calc(var(--spacing-lg) * 3);
}

#footer__logo {
  margin-inline: auto;
}

#footer__disclosures {
  --gap: var(--spacing-sm);
}

#footer__advertising {
  margin-block-end: var(--spacing-sm);
}

#footer__copyright {
  font-size: 13px;
}

#logo__container {
  --gap: var(--spacing-sm);
}

#links {
  justify-content: center;
  gap: calc(var(--spacing-sm) / 2);
}

#links span:not(:last-child)::after {
  content: "|";
  color: var(--gray);
  opacity: 0.25;
}

/* Animations */

@keyframes fade-in {
  to {
    translate: 0;
    opacity: 1;
  }
}

/* Media queries */

/* Tablet */
@media (min-width: 768px) {
  body {
    margin: var(--spacing-md);
    padding: var(--spacing-lg);
    border-radius: var(--spacing-md);
  }

  .btn,
  #footer__copyright {
    font-size: unset;
  }

  :root {
    font-size: 120%; /* Scale up typography */
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    margin-inline: auto;
  }
  footer #img-text {
    --gap: var(--spacing-lg);
  }

  footer #img-text > * {
    flex-basis: 45%;
  }
}
